*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root{
    --green :#9FC969;
    --mc:#FAFAF8;
}

/* ######## Navbar Started ###### */
#navbar{
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin-left: 2rem;
    margin-right: 2rem;
}
#navbar .hide-li{
    border: 1px solid red;
    display: flex;
    width: 10rem;
    justify-content: space-around;
    
}
#navbar .hide-li{
    visibility: hidden;
}
#navbar .left-li{
    /* border: 1px solid red; */
    display: flex;
    margin-left: 12rem;
    position: absolute;
    justify-content: space-between;
    width: 15rem;
    list-style: none;
    font-family: sans-serif ;
}
#navbar  a{
    text-decoration: none;
    color: black;
}
#navbar .right-li{
    /* border:1px solid red; */
    display: flex;
    justify-content: space-between;
    width: 8rem;
    position: absolute;
    margin-left: 49rem;
    list-style: none;
    font-family: 'Open Sans Soft Regular';
    color: black;
}
#navbar .logo img{
    height: 65px;
    max-width: 150px;
    margin-bottom: .8rem;
    margin-top: .8rem;
}
#navbar  a:hover{
    color: var(--green);
    cursor: pointer;
}
/* ######## Navbar Ended ###### */

/* ################## HERO SECTION Started #################  */
.hero-container{
    height: 45rem;
    background-color:var(--mc);
    display: grid;
    grid-template-columns: 55% 45%;
}
.hero-container .img-container{
    border: 1px solid red;
    display: flex;
    
}
.hero-container .content-container{
    border:  1px solid red;
    margin-top: 7.5rem; 
    
}
.content-container h5{
    padding-top: 1.5rem;
    font-size: 1rem;
}
.content-container h1{
    margin-top: .7rem;
    font-size: 3.5rem;
}
.content-container p{
    padding-top: 1rem;
    font-size: 1.1rem;
}
.hero-container .img-container img{
    margin-top: 6rem;
    width: 360.5px;
    height: 278px;
    margin-left: 2rem;
}
/* ################## HERO SECTION Ended ################# */
